{% extends 'Layout.html' %}
{% load static %}
{% block title %} Voyage Form {% endblock title %}

{% block script %} 
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'scripts/VoyageForm.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/AdvSearch.js' %}"></script>
{% endblock script %}

{% load widget_tweaks %}

{% block content %}
<h2>Voyage Registration</h2>
<hr />

<form method="POST">

    {% if SysGoodMsg %}
    <div id="SysGoodMsg" class="alert alert-success"><strong>{{ SysGoodMsg }}</strong></div>
    {% endif %}

    {% if SysBadMsg %}
    <div id="SysBagMsg" class="alert alert-danger"><strong>{{ SysBadMsg }}</strong></div>
    {% endif %}

    <div id="ClientVerifyBlock" class="alert alert-danger"><strong><span id="ClientVerifyMsg"></span></strong></div>

    <div class="form-horizontal">

        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Voyage No :</label>
                <div class="col-md-3">
                    {% render_field Form.No id="No" class="form-control input-sm" %}
                    {% render_field Form.VoyageID|attr:"hidden:true" id="VoyageID" %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Ship Call No :</label>
                <div class="col-md-3">
                    {% render_field Form.ShipCallNo id="ShipCallNo" class="form-control input-sm" %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Vessel :</label>
                <div class="col-md-3">
                    <div class="input-group">
                        {% render_field Form.VesselName|attr:"readonly:readonly" id="VesselName" class="form-control input-sm" %}
                        {% render_field Form.VesselID|attr:"hidden:true" id="VesselID" %}
                        <span class="input-group-addon input-sm">
                            <span class="glyphicon glyphicon-search" id="btnSearchClass"
                                onclick="SearchVessel();"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Eta :</label>
                <div class="col-md-3">
                    <div class="input-group">
                        {% render_field Form.Eta|attr:"readonly:readonly" id="Eta" class="form-control input-sm" %}
                        <span class="input-group-addon input-sm">
                            <span class="glyphicon glyphicon-calendar" id="btnPickEta" onclick="PickEta()"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Eta :</label>
                <div class="col-md-3">
                    {% render_field Form.Eta|attr:"readonly:readonly" id="Eta" class="form-control input-sm" %}
                </div>
            </div>
        </div> -->

        <div class="row">&nbsp;</div>
        <hr />

        <div class="row">
            <div class="form-group">
                <div class="col-md-5 col-md-offset-5">
                    <button type="submit" id="Save" class="btn btn-success"
                        onclick="return SubmitValidation();">Save</button>
                    <span>&nbsp;</span>
                    <button type="reset" id="Reset" class="btn btn-danger" onclick="ResetForm()">Reset</button>
                </div>
            </div>
        </div>

    </div>

</form>

{% include 'PartialAdvSearchModal.html' %}

{% endblock content %}